/*********TAG SELECTORS**********/
body {
    background-color: grey;
    font-family: "Spartan" (https://fonts.google.com/specimen/Spartan);
    font-weight: 400, 500, 700;
}


h1 {
    color: hsl(300, 43%, 22%);
    
}

h3 {
    color: white;
}







/*********CLASS SELECTORS**********/
.first {
    color: hsl(300, 43%, 22%);
}

.second {
    color: hsl(333, 80%, 67%);
}

.third {
    color: white;
}





/*********ID SELECTORS**********/