/*********TAG SELECTORS**********/
body {
    background-color: white;
    font-family: "Spartan" (https://fonts.google.com/specimen/Spartan);
    font-weight: 400, 500, 700;
}

h1 {
    color: hsl(300, 43%, 22%);
    display: inline;
}

h3 {
    color: white;
}

/*********CLASS SELECTORS**********/
.first {
    color: hsl(300, 43%, 22%);
}

.second {
    color: hsl(333, 80%, 67%);
}

.third {
    color: white;
}

.bg-pattern-top {
    position: absolute;
    left: 1px;
    top: 0;
  }

.bg-pattern-bottom {
    position: absolute;
    right: 50px;
    bottom: 0;
  }

/*********FLEX STYLE SELECTORS**********/  

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: hsl(300, 24%, 96%);
    margin: 10px;
    border-radius: 15px;
}

.flex-container {
    display: flex;
}

.item {
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: hsl(300, 43%, 22%);
    margin: 15px;
    border-radius: 15px;
}




/*********ID SELECTORS**********/
